body {
    width: device-width;
    font-family: 'JetBrains Mono', monospace;
    background-color: #f8fffc ;
    color: rgb(0, 0, 0);
    margin: 0px 10px 0;
}

hr {
    border: 1px solid black;
}

.toolbar{
    /* border: 1px solid black; */
    width: fit-content;
    padding: 18px;
}

.toolbar a{
    text-decoration: none;
    color: black;
    margin: 1px;
    padding: 10px;
}

.toolbar a:hover {
    margin: 0px;
    border: 1px solid black;
}

#topics_topic{
    text-align: center;
}

.topic_entries{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.topic_entry a{
    text-decoration: none;
    color: black;
}

.topic_entry{
    width: 100%;
    margin: 6px;
    padding: 4px 8px 4px 8px;
}

.topic_entry:hover{
    padding: 3px 7px 3px 7px;
    border: 1px solid rgb(0, 0, 0);
}

.entry {
    margin: 0 20px 0 40px;
    width: 90%;
    overflow-wrap: break-word;
}

.entry h4 {
    margin-right: 20px;
}

#topic-and-decs{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    overflow-wrap: break-word;
}
#topic-and-decs h3{
    margin: 0 20px 0 10px;
    word-break: keep-all;
    width: fit-content;
}

.entrytopic-date{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #f8fffc;
    flex-direction: row;
    align-items: baseline;
    word-break: break-all;
}

.entrytopic-date .date{
    min-width: fit-content;

}

#add-new-entry{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry hr {
    border: 1px dashed black;
    margin-top: 40px;
}