{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">

<head>
    <meta charset="utf-8">
    <title>Learning Logs</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">

</head>

<html>
<body>

<div class="toolbar">
    <div class="options">
        <a href="{% url 'learning_logs:index' %}">Learning Log</a>
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
    </div>
    <div class="user-login">
        {% if user.is_authenticated %} 
            <p>Witaj, {{ user.username }}.</p>
            <a href="{% url 'users:logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'users:register' %}">Rejestruj</a>
            <a href="{% url 'users:login' %}">Zaloguj</a>  
        {% endif %}
    </div>
</div>

{% block content %}{% endblock content %} 

</body>

</html>