{% extends 'learning_logs/base.html' %}

{% block content %}  

<div id='topic-and-decs'>
    <h3>
        <nobr>{{ topic }}</nobr>
    </h3>
    <p>{{ topic.desc }}</p>
</div>
<hr>
<div id='entries'>
    <a id='add-new-entry' href="{% url 'learning_logs:new_entry' topic.id %}">Dodaj nowy wpis</a>
       
    {% for entry in entries %}
        <div class='entry'>
            <div class='entrytopic-date'>
                <h4>{{ entry.text }}</h4>
                <p class='date'>{{ entry.date_added|date:'d M Y H:i' }}</p>
            </div>
            <p class='desc'>{{ entry.desc|linebreaks }}</p>
            {% if forloop.counter < count%}
            <hr>
            {% endif %}
        </div>
        {% empty %}
            <div class='entry'>
                <p>No entries have been added yet.</p>
            </div>
    {% endfor %}


{% endblock content %}